// Specific CSS for your home-page

body {
  background-color: #F4F4F4;
  position: relative;
  min-height: 100vh;
}

// body {
//   background-color: rgb(245,245,245);
//   margin-top: 88px;
// }

.wrapper {
  height: 20vh;
}

.wrapper-m {
  height: 8vh;
}

.wrapper-l {
  height: 16vh;
}

.banner-landing-1 {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;

  .slogan-banner-1 {
  font-size: 44px;
  font-weight: 900;

  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

  margin: 17% 0 0 13%;
  max-width: 35%;
  }

  .text-banner-1 {
  font-size: 24px;
  font-weight: 400;

  color: white;

  margin: 1% 0 0 13%;
  max-width: 35%;
  }

  .btn-landing-1 {
  margin: 1.5% 0 0 13%;
  padding: 8px 24px;
  }
}


#SDG-signin {
  margin: 0 auto;
  padding: 0 8%;
}

#SDG-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


.banner-landing-3 {
  width: 100%;
  height: 70vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .text-landing-3 {
    margin: 20% 0 0 0;
    font-weight: 900;
  }

  .btn-landing-3 {
    margin: 1.5% 0 0 0;
    padding: 8px 24px;
  }
}


.banner-landing-2 {
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // margin-top: -12%;

  .slogan-banner-2 {
  font-size: 44px;
  font-weight: 900;
  text-align: right;

  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

  margin: 12% 13% 0 0;
  }

  .text-banner-2 {
    font-size: 24px;
    font-weight: 400;
    text-align: right;

    color: white;

    margin: 1% 13% 0 0;
  }

  .btn-landing-2 {
    margin: 1.5% 13% 0 0;
    padding: 8px 24px;
  }
}

// #text-wrapper-banner-2 {
//   padding-left: 700px;
//   padding-top: 200px;
//   max-width: 1200px;
// }
