// .project-list {
//   margin: 32px 0;
//   padding: 16px 16px;
//   border: 1px rgb(220,220,220) solid;
//   box-shadow: 0 0 4px rgb(200,200,200);
//   h1 {
//     margin-top: 50px;
//     text-align: left;
//     font-weight: bold;
//     margin-bottom: 50px;
//   }
//   li {
//     list-style: none;
//   }
//   li:last-child hr {
//     display: none;
//   }
//   ul {
//     padding: 16px 32px;
//   }
// }
.bg-image-project {
  background-image: asset-url('create.jpg');
  height: 100vh;
  background-size: cover;
  // /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; // image doesn't scroll
}

.project-new {
  background-color: #f4f4f4;
  margin: 20vh 0;
  padding: 32px 32px;
  border: 1px rgb(220,220,220) solid;
  box-shadow: 0 0 4px rgb(200,200,200);

  h1 {
    text-align: center;
  }
}

.card-projects {
  background-size: cover;
  background-position: center;
  height: 250px;
  opacity: 0.9;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 20px;
  padding-bottom: 16px;

  color: white;
  // font-size: 20px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 1px white;
  a {
    color: white;
    text-decoration: none;
  }

  .title {
    font-size: 24px;
    // margin-top: 10px;
    text-shadow: 1px 1px 9px rgba(0,0,0,0.9);
    opacity: 1;
  }
  .owner {
    font-size: 18px;
    text-shadow: 1px 1px 9px rgba(0,0,0,0.9);
    opacity: 1;
  }
  .money {
    font-size: 16px;
    text-shadow: 1px 1px 9px rgba(0,0,0,0.9);
    opacity: 1;
  }
}

.icons {
  text-align: right;
  margin-top: -16px;
  padding-right: 32px;
}










.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin-bottom: 50px;
}
h2 {
  margin-top: 40px;
}
h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
}
.icons-show {
  float: right;
}
.far {
  color: #75B1F2;
}
.funding {
  margin-top: 5px;
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border-bottom: 1px solid rgb(235,235,235);
}
.funding:last-child {
  border-bottom: none;
}
.funding .funding-content {
  flex-grow: 1;
  padding: 0 24px;
}
.funding p {
  margin: 0;
  line-height: 1.4;
}
.funding small {
  color: #999999;
  font-weight: bold;
}
.funding .funding-actions {
  opacity: 1;
  display: flex;
  transition: ease .3s;
}
.funding .funding-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}
#project-lead-name {
  margin-bottom: 0px;
  margin-left: 20px;
}
.card-offer {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#form-div {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 60px;
}
#my-offer > h3 {
  padding-bottom: 60px;
  margin: 0px;
}
.card-description {
  overflow: hidden;
  height: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.card-description img {
  height: 100%;
  width: 350px;
  object-fit: cover;
}
.card-description p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
.card-description h3 {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  padding-top: 0px;
}
.card-attributes {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-offers {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
}
