// PHOTO AND DESCRIPTION

.project-show-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin: 5vh 0;
  border: 1px rgb(220,220,220) solid;
  box-shadow: 0 0 1px rgb(200,200,200);
  h1 {
    font-weight: 700;
  }
}


.card-description {
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  // padding: 40px;

  img {
  max-width: 100%;
  height: auto;
  // It resizes automatically
  border-radius: 5px;
  background-size: contain;
  // object-fit: cover;
  }
  span {
  opacity: 0.7;
  }
}


// SECOND BLOCK
.card-attributes {
  // padding: 30px 40px;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}


// THIRD BLOCK
// INVESTOR OFFER
.card-offer {
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  // padding: 40px 58px;
}


// THIRD BLOCK
// OFFERS RECEIVED BY OWNER
.card-offers {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.funding:last-child {
  border-bottom: none;
}

// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 200px 0;
//   margin-bottom: 50px;
// }


// .far {
//   color: #75B1F2;
// }

.icons-show {
  float: right;
  a {
  text-decoration: none;
  }
}
