<div class="container-fluid">
  <div class="row justify-content-center">
    
    <div class="col-md-8 project-list">
      <h1>All Projects</h1>

      <div>
        <%= simple_form_for :search, url: projects_path, method: "GET", html: { class: 'form-inline' }, remote: true do |f| %>
        <form class="form-inline">
          <%= f.input :categories, collection: Project.categories, label: false,
           selected: session[:category] %>
          <%= f.submit "Search", class: 'btn btn-outline-success my-2 my-sm-0'%>
        <%end%>
        </form>
      </div>




      <ul id="projects-list">
        
        <%= render "listing_index", projects: @projects %> 

      </ul>

    </div>
  </div>
</div>
