.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 8px 50px;
}

.navbar-lewagon-scroll {
  display: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-lewagon .one-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
